In [1]:
# dictionary
# -indexed
# -ordered
# -multiple values
# -duplicate values
# -mutable

In [2]:
d={}
print(type(d))

<class 'dict'>

In [3]:
# d={<key>:<values>}

In [4]:
d={'a':"apple"}
print(d)

{'a': 'apple'}

In [6]:
d={'a':"apple","b":"ball","c":"cat"}   #indexed
print(d['b'])

ball

In [7]:
d={'a':"apple","b":"ball","c":"cat"}
print(d)
print(len(d))

{'a': 'apple', 'b': 'ball', 'c': 'cat'}
3

In [8]:
d={'a':"apple","b":"ball","A":"apple"}
print(d)

{'a': 'apple', 'b': 'ball', 'A': 'apple'}

In [9]:
d={'a':"apple","b":"ball","a":"apple"} #duplicate key huna mildaina
print(d)

{'a': 'apple', 'b': 'ball'}

In [10]:
a={}
a['A']="Apple"
a['B']="Ball"      #mutable 
a['C']="Cat"
print(a)

{'A': 'Apple', 'B': 'Ball', 'C': 'Cat'}

In [11]:
info={}                                   #dict() lekhda ni huncha
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    phone=input("enter phone=")
    info[name]=phone
print(info)

enter n=2
enter name=ram
enter phone=98088800
enter name=shyam
enter phone=98987642
{'ram': '98088800', 'shyam': '98987642'}

In [12]:
d={"ram":"9870000","shyam":"98300202"}
for i in d:
    print(i)

ram
shyam

In [13]:
d={"ram":"9870000","shyam":"98300202"}
for i in d.values():
    print(i)

9870000
98300202

In [14]:
d={"ram":"9870000","shyam":"98300202"}
for i in d.items():
    print(i)

('ram', '9870000')
('shyam', '98300202')

In [15]:
l=list()
d={"ram":"9870000","shyam":"98300202"}
for i in d.items():
    l.append(i)
print(l)

[('ram', '9870000'), ('shyam', '98300202')]

In [16]:
a=[('ram', '9870000'), ('shyam', '98300202')]
dict(a)

{'ram': '9870000', 'shyam': '98300202'}

In [17]:
d={"ram":"9870000","shyam":"98300202"}
d["ram"]="9844321"
print(d)

{'ram': '9844321', 'shyam': '98300202'}

In [18]:
# del pop()
d={"ram":"9870000","shyam":"98300202"}
del d["ram"]
print(d)

{'shyam': '98300202'}

In [19]:
d={"ram":"9870000","shyam":"98300202"}
d.pop("ram")
print(d)

{'shyam': '98300202'}

In [20]:
#list inside dictionary
d={"ram":["9870000","98753333"],"shyam":["98300202","98303032"]}
print(d)
print(len(d))
print(type(d))

{'ram': ['9870000', '98753333'], 'shyam': ['98300202', '98303032']}
2
<class 'dict'>

In [21]:
print(d["ram"])
print(d["shyam"][0])

['9870000', '98753333']
98300202

In [22]:
d={"ram":["9870000","98753333"],"shyam":["98300202","98303032"]}
for i in d.items():
    print(i)

('ram', ['9870000', '98753333'])
('shyam', ['98300202', '98303032'])

In [26]:
data={}
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    ntc=input("enter ntc phone=")
    ncell=input("enter ncell phone=")
    data[name]=[ntc,ncell]
print(data)

enter n=2
enter name=ram
enter ntc phone=98058585
enter ncell phone=98058576
enter name=shyam
enter ntc phone=985767676
enter ncell phone=9828383
{'ram': ['98058585', '98058576'], 'shyam': ['985767676', '9828383']}

In [27]:
d={'ram': ['98058585', '98058576'], 'shyam': ['985767676', '9828383']}
d["ram"][0]="9834746464"
d

{'ram': ['9834746464', '98753333'], 'shyam': ['98300202', '98303032']}

In [28]:
d={'ram': ['98058585', '98058576'], 'shyam': ['985767676', '9828383']}
del d["ram"][0]  #or d.pop("ram") lekhda huncha.. d["ram"].pop(0) specific value delete garne
d

{'ram': ['98753333'], 'shyam': ['98300202', '98303032']}

In [31]:
d={'ram':['98058585', '98058576'],'shyam':['985767676', '9828383']}
d["ram"].append("98765543")
d

{'ram': ['98058585', '98058576', '98765543'],
 'shyam': ['985767676', '9828383']}

In [37]:
#dict inside list
d=[{"name":"ram","ntc":98000044},{"name":"shyam","ntc":987573829}]
print(d[0])

{'name': 'ram', 'ntc': 98000044}

In [38]:
print(d[0]["name"])

ram

In [42]:
for i in d:
    print(d)

[{'name': 'ram', 'ntc': 98000044}, {'name': 'shyam', 'ntc': 987573829}]
[{'name': 'ram', 'ntc': 98000044}, {'name': 'shyam', 'ntc': 987573829}]

In [3]:
data=[]
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    ntc=input("enter ntc phone=")
    ncell=input("enter ncell phone=")
    info={'name':name,'ntc':ntc,'ncell':ncell}
    data.append(info)
print(data)

enter n=2
enter name=ram
enter ntc phone=98767262
enter ncell phone=98765621
enter name=shyam
enter ntc phone=9832732
enter ncell phone=9713682
[{'name': 'ram', 'ntc': '98767262', 'ncell': '98765621'}, {'name': 'shyam', 'ntc': '9832732', 'ncell': '9713682'}]

In [6]:
print(data[0]['ntc'])

98767262

In [7]:
data[0]['name']="ram prasad"
print(data)

[{'name': 'ram prasad', 'ntc': '98767262', 'ncell': '98765621'}, {'name': 'shyam', 'ntc': '9832732', 'ncell': '9713682'}]

In [12]:
data[0]['land']=4416765
data

[{'name': 'ram prasad',
  'ntc': '98767262',
  'ncell': '98765621',
  'land': 4416765},
 {'name': 'shyam', 'ntc': '9832732', 'ncell': '9713682'}]

In [13]:
# dict inside dict
# d={<key>:{<key>:<value>}}

In [14]:
d={1:{'name': 'ram prasad', 'ntc': '98767262', 'ncell': '98765621'}, 2:{'name': 'shyam', 'ntc': '9832732', 'ncell': '9713682'}}
print(d[1])

{'name': 'ram prasad', 'ntc': '98767262', 'ncell': '98765621'}

In [18]:
d={'nepal':{'name': 'ram prasad', 'ntc': '98767262', 'ncell': '98765621'},'USA':{'name': 'shyam', 'ntc': '9832732', 'ncell': '9713682'}}
print(d['nepal'])

{'name': 'ram prasad', 'ntc': '98767262', 'ncell': '98765621'}

In [20]:
print(d['nepal']['name'])

ram prasad

In [25]:
data={}
n=int(input("enter n="))
for i in range(1,n+1):
    name=input("enter name=")
    ntc=input("enter ntc phone=")
    ncell=input("enter ncell phone=")
    data[i]=[ntc,ncell]
print(data)

enter n=2
enter name=ram
enter ntc phone=98373
enter ncell phone=982663
enter name=shyam
enter ntc phone=9836236
enter ncell phone=8721621
{1: ['98373', '982663'], 2: ['9836236', '8721621']}

In [22]:
data[3]={"name":"hari","ntc":892873324,"ncell":9828222}
data

{1: ['982622', '9861242'],
 2: ['827622', '98262'],
 3: {'name': 'hari', 'ntc': 892873324, 'ncell': 9828222}}

In [27]:
data[1]['ntc']=[98362363,986544]
data

TypeError: list indices must be integers or slices, not str

In [29]:
d={('ram','shyam'):'kathmandu'}
print(d)

{('ram', 'shyam'): 'kathmandu'}

In [30]:
d[('ram','shyam')]

'kathmandu'

In [35]:
d={1:{'name':'akash','physics':{'th':60,'pr':20}},
   2:{'name':'shyam','physics':{'th':50,'pr':25}}}
d

{1: {'name': 'akash', 'physics': {'th': 60, 'pr': 20}},
 2: {'name': 'shyam', 'physics': {'th': 50, 'pr': 25}}}

In [40]:
data={}
n=int(input("enter n="))
for i in range(1,n+1):
    name=input("enter name=")
    subject=input("enter subject=")
    theory=input("enter theory=")
    practical=input("enter pratical=")
    data[i]={'name':name,'subject':subject,'theory':theory,'practical':practical}
print(data)

enter n=2
enter name=akash
enter subject=physics
enter theory=60
enter pratical=20
enter name=shyam
enter subject=physics
enter theory=50
enter pratical=25
{1: {'name': 'akash', 'subject': 'physics', 'theory': '60', 'practical': '20'}, 2: {'name': 'shyam', 'subject': 'physics', 'theory': '50', 'practical': '25'}}