In [ ]:
# list 
# tuple
# dictionary
# set

In [1]:
l= list()
lis=[]
print(type(l))

<class 'list'>

In [2]:
data=[1,2,3,4,5,6]
type(data)

list

In [9]:
data=["apple","ball","cat"]
data[0]

'apple'

In [10]:
data=["apple","ball","cat"]
print(data)

['apple', 'ball', 'cat']

In [11]:
data=["apple","ball","cat"]   #ordered list
data1=["dog"]
print(data1+data)

['dog', 'apple', 'ball', 'cat']

In [12]:
a =[1,2,3,4]
print(a*2)

[1, 2, 3, 4, 1, 2, 3, 4]

In [13]:
data=["apple","ball","cat"]
data[0]="Apple"
data

['Apple', 'ball', 'cat']

In [14]:
data=[1,2,3,4,5,6,7,8,9]
data[0:8:2]

[1, 3, 5, 7]

In [16]:
data=[]
n=int(input("enter n="))
for i in range(n):
    x=input("enter x=")
    data=data+[x]
print(data)

enter n=5
enter x=plant
enter x=ball
enter x=fish
enter x=toy
enter x=food
['plant', 'ball', 'fish', 'toy', 'food']

In [17]:
data=["apple","ball","cat"]
for i in data:
    print(i)

apple
ball
cat

In [21]:
data=["apple","ball","cat","apple","banana"]
for i in data:
    if i =="apple":
        continue
    print(i)

ball
cat
banana

In [25]:
data=[]
n=int(input("enter n="))
for i in range(n):
    x=int(input("enter x="))
    data=data+[x]
print(data)

enter n=4
enter x=8
enter x=5
enter x=6
enter x=2
[8, 5, 6, 2]

In [29]:
print("max value=",max(data))
print("min value=",min(data))
print("the sum =",sum(data))
print("the average =",sum(data)/n)
data.sort()
print(data)
data.reverse()
print(data)

max value= 8
min value= 2
the sum = 21
the average = 5.25
[2, 5, 6, 8]
[8, 6, 5, 2]

In [33]:
data=["Apple","1Zebra","Ball","Fish"] #suru ma integer kita special character ani captial last ma small
data.sort()
print(data)
data.reverse()
print(data)

['1Zebra', 'Apple', 'Ball', 'Fish']
['Fish', 'Ball', 'Apple', '1Zebra']

In [35]:
data=["Apple","Zebra","Ball","Fish","Ball"]
print(len(data))
print(data.count("Ball"))

5
2

In [36]:
for i in range(len(data)):
    print(data[i])

Apple
Zebra
Ball
Fish
Ball

In [37]:
for i in range(len(data)):
    if data[i]=="Ball":
        print(i)

2
4

In [3]:
# matrix
a=[]
c=int(input("enter c="))
r=int(input("enter r="))
for i in range(r):
    b=[]
    for j in range(c):
        x=int(input("enter x="))
        b.append(x)
    a.append(b)
print(a)

enter c=3
enter r=3
enter x=1
enter x=2
enter x=3
enter x=4
enter x=5
enter x=6
enter x=7
enter x=8
enter x=9
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [4]:
# wap to change
# ['Apple 200 3 600','Banana 100 2 200']
# to
# [['Apple','200','3','600'],['Banana','100','2','200']]
b=[]
a=['Apple 200 3 600','Banana 100 2 200']
for i in a:
    x=i.split()
    b.append(x)
print(b)

[['Apple', '200', '3', '600'], ['Banana', '100', '2', '200']]

In [6]:
a=[['Apple','200','3','600'],['Banana','100','2','200']]
a[0][1]=int(a[0][1])
a[0][2]=int(a[0][2])
a

[['Apple', 200, 3, '600'], ['Banana', '100', '2', '200']]