In [1]:
# tuple
# -indexed
# -ordered
# -multiple data
# -duplicate data
# -imutable

In [2]:
a=(1,2,3)
print(a)
print(type(a))

(1, 2, 3)
<class 'tuple'>

In [3]:
a=("apple",)
print(a)
print(type(a))

('apple',)
<class 'tuple'>

In [4]:
a=("apple","ball","cat","dog")
print(a[0])

apple

In [6]:
a=("apple","ball","cat","dog")
b=("fish",)
print(a+b)

('apple', 'ball', 'cat', 'dog', 'fish')

In [7]:
a=("zebra","apple","ball","cat","dog")
print(sorted(a))
print(a)

['apple', 'ball', 'cat', 'dog', 'zebra']
('zebra', 'apple', 'ball', 'cat', 'dog')

In [8]:
a=("zebra","apple","ball","cat","dog")
b=list(a)
print(b)

['zebra', 'apple', 'ball', 'cat', 'dog']

In [9]:
a=("zebra","apple","ball","cat","dog")
b=list(a)
b.remove("zebra")
a=tuple(b)
a

('apple', 'ball', 'cat', 'dog')

In [10]:
# min() max() sum() index() search read

In [12]:
a=("zebra","apple","ball","cat","dog")
a.index("apple")

1

In [13]:
a=("zebra","apple","ball","cat","dog")
for i in a:
    print(i)

zebra
apple
ball
cat
dog

In [14]:
a=("zebra","apple","ball","cat","dog")
if "apple" in a:
    print("yes")

yes

In [16]:
data=()
n=int(input("enter n="))
for i in range(n):
    x=int(input("enter x="))
    data= data+(x,)
print(data)

enter n=2
enter x=34
enter x=45
(34, 45)

In [21]:
def hello():
    return "hello","world"
print(hello()[0])
print(hello()[1])

hello
world

In [22]:
def hello(z):
    print(z[0],z[1])
t=("hello","world")
hello(t)

hello world

In [23]:
# tuple inside tuple
# a=((1,2,3),
#   (4,5,6),
#   (7,8,9))

In [24]:
data=()
n=int(input("enter n="))
for i in range(1,n+1):
    name=input("enter name=")
    age=int(input("enter age="))
    add=input("enter add=")
    info=(i,name,age,add)
    data=data+(info,)
print(data)

enter n=2
enter name=mohini
enter age=22
enter add=kathmandu
enter name=moon
enter age=22
enter add=kathmandu
((1, 'mohini', 22, 'kathmandu'), (2, 'moon', 22, 'kathmandu'))

In [1]:
# tuple inside tuple into list inside list
a=((1,2,3),(4,5,6),(8,9,0))
b=[list(x)for x in a]
print(b)

[[1, 2, 3], [4, 5, 6], [8, 9, 0]]

In [2]:
#list inside tuple
a=([1,2,3],[4,5,6],[7,8,9])
print(a[0])
a[0].append(4)
print(a)

[1, 2, 3]
([1, 2, 3, 4], [4, 5, 6], [7, 8, 9])

In [3]:
a=([1,2,3],[4,5,6],[7,8,9])
print(a[0])
a[0][0]=11
print(a)

[1, 2, 3]
([11, 2, 3], [4, 5, 6], [7, 8, 9])

In [10]:
a=[(1,2,3),(4,5,6),(7,8,9)]
b=(11,22,33)
a.append(b)
print(b)

(11, 22, 33)

In [5]:
a=[(1,2,3),(4,5,6)]
a[0]=(1,2,33)
a

[(1, 2, 33), (4, 5, 6)]

In [6]:
# tuple inside tuple to list inside list
b=[]
a=((1,2,3),(4,5,6))
for i in a:
    x=list(i)
    b.append(x)
print(b)

[[1, 2, 3], [4, 5, 6]]