In [4]:
import mysql.connector as my
database= my.connect(
    host="localhost",
    user="root",
    password=""
)
db= database.cursor()
try:
    db.execute("CREATE DATABASE python_class")
except:
    print("the database is already there")

the database is already there

In [20]:
import mysql.connector as my
database= my.connect(
    host="localhost",
    user="root",
    password="",
    database= 'profile'
)
db= database.cursor()

In [6]:
sql= "SELECT * FROM student"
db.execute(sql)
result=db.fetchall()
for x in result:
    print(x)

(1, 'shyam', 44, 60, 70, 50)

In [13]:
sql="INSERT INTO student(name,physics,chemistry,math,biology,total) VALUES('Hari',50,60,70,80,260)"
db.execute(sql)
database.commit()

IntegrityError: 1062 (23000): Duplicate entry '0' for key 'PRIMARY'

In [23]:
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    physics=int(input("enter physics="))
    chemistry=int(input("enter chemistry="))
    math=int(input("enter math="))
    biology=int(input("enter biology="))
    total=int(sum([physics,chemistry,math,biology]))
    sql=f'''INSERT INTO student(name,physics,chemistry,math,biology,total) VALUES('{name}',{physics},{chemistry},{math},{biology},{total})'''
    print(sql)
    db.execute(sql)
database.commit()

enter n=1
enter name=nabin
enter physics=30
enter chemistry=40
enter math=50
enter biology=60
INSERT INTO student(name,physics,chemistry,math,biology,total) VALUES('nabin',30,40,50,60,180)

IntegrityError: 1062 (23000): Duplicate entry '0' for key 'PRIMARY'

In [25]:
sql= "DELETE FROM student WHERE sn=1"
db.execute(sql)
database.commit()

In [ ]:
sql="UPDATE student SET name = 'Harry' WHERE name='Hari'"
db.execute(sql)
database.commit()