In [ ]:
# for loop
# while loop

In [ ]:
# range
# range(5)  (i=0;i<5;i++)
# range(1,5) (i=1;i<5;i++)

In [1]:
for i in range(5):
    print("hello world")

hello world
hello world
hello world
hello world
hello world

In [ ]:
 for i in range(5):
    print(i,"hello world")

In [2]:
 for i in range(5,-1,-1):
    print(i,"hello world")

5 hello world
4 hello world
3 hello world
2 hello world
1 hello world
0 hello world

In [3]:
# sum of n number
s = 0
n = int(input("enter n ="))
for i in range(n):
    x = int(input("enter x ="))
    s= s+x
    print(s)

enter n =3
enter x =4
4
enter x =5
9
enter x =2
11

In [4]:
s=""
n= int(input("enter n ="))
for i in range(n):
    x= (input("enter x ="))
    s= s+x+" "
    print(s)

enter n =2
enter x =ram
ram
enter x =shyam
ram shyam

In [5]:
s=""
n= int(input("enter n ="))
for i in range(n):
    name= (input("enter name ="))
    phone= (input("enter phone= "))
    s= s+name+" "+phone+"\n"
print(s)

enter n =2
enter name =ram
enter phone= 98436789
enter name =shyam
enter phone= 98567002
ram 98436789
shyam 98567002

In [ ]:
# WAP to calculate factorial of a number
# WAP to calculate total amount of a bill

In [ ]:
s=""
t=0
n= int(input("enter n="))
for i in range(n):
    item=(input("enter item ="))
    price=int(input("enter price="))
    quantity=int(input("enter quantity="))
    total=price*quantity
    s=s+item+" "+str(price)+" "+str(quantity)+str(total)+"\n"
    t=t+total
    print(s)
print("total =",t)

enter n=2
enter item =jam
enter price=100
enter quantity=1
jam 100 1100

In [1]:
s=""
all_total=0
n= int(input("enter n="))
for i in range(n):
    item=(input("enter item ="))
    price=int(input("enter price="))
    quantity=int(input("enter quantity="))
    total=price*quantity
    s=s+item+" "+str(price)+" "+str(quantity)+str(total)+"\n"
    all_total= all_total+total
    print("the bill is \n",s)
print("all_total =",all_total)

enter n=2
enter item =jam
enter price=100
enter quantity=1
the bill is
 jam 100 1100

enter item =bread
enter price=200
enter quantity=1
the bill is
 jam 100 1100
bread 200 1200

all_total = 300

In [5]:
# while loop

s=""
i=0
n= int(input("enter n ="))
while i<n:
    x=(input("enter x ="))
    s=s+x+" "
    i=i+1
    print(s)

enter n =2
enter x =hari
hari
enter x =ram
hari ram

In [7]:
a ="python"
for i in a:
    print(i)

p
y
t
h
o
n

In [10]:
a ="hello world"
for i in a:
    if i != "e" and i !=" ":
        print(i)

h
l
l
o
w
o
r
l
d

In [ ]:
# control statements
# break
# continue
# pass

In [4]:
for i in range(5):
    if i == 3:
        break 
    print(i)

0
1
2

In [8]:
a="hello world"
for i in a:
    if i == " ":
        continue
    print(i, end="")

helloworld

In [6]:
a="hello world"
for i in a:
    if i == " ":
        break 
    print(i, end="")

hello